<?xml version="1.0"?>
<!--
/**
 * Copyright © BluethinkInc All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="bluethink" translate="label" sortOrder="10">
            <label>Bluethinkinc</label>
        </tab>
        <section id="questionAnswer" translate="label" type="text" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Question Answer</label>
            <tab>bluethink</tab>
            <resource>Bluethinkinc_QuestionAnswer::questionanswer_config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Configuration</label>
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Module Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>

            <group id="questions" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Question Configuration</label>
                <depends>
                    <field id="questionAnswer/general/enable">1</field>
                </depends>
                <field id="question" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Select Questions to be Display</label>
                    <source_model>Bluethinkinc\QuestionAnswer\Model\Config\Source\Question\QuestionListModel</source_model>
                </field>
            </group>

            <group id="answers" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Answer Configuration</label>
                <depends>
                    <field id="questionAnswer/general/enable">1</field>
                </depends>
                <field id="answer" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Select Answers to be Display</label>
                    <source_model>Bluethinkinc\QuestionAnswer\Model\Config\Source\Answer\AnswerListModel</source_model>
                </field>
            </group>
             <group id="section_title" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Section Title Configuration</label>
                <depends>
                    <field id="questionAnswer/general/enable">1</field>
                </depends>
                <field id="section_title_subject" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <validate>required-entry</validate>
                    <label>Section Title</label>
                    <comment>Enter Section title.</comment>
                </field>
            </group>
        </section>
    </system>
</config>


 